.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5vmin;
  align-items: center;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  row-gap: 2vmin;
}

.product-title {
  display: flex;
  justify-content: center;
}
